dbptk-bindings/dbptk-bindings-siarddk/src/main/resources/schema/documentIdentification.xsd

<xs:schema xmlns="http://www.databasepreservation.com/xmlns/1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.databasepreservation.com/xmlns/1.0" elementFormDefault="qualified">
	<xs:element name="docIDs">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="docID" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:attribute name="tableName" type="xs:string" use="required"/>
						<xs:attribute name="columnName" type="xs:string" use="required"/>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>