dbptk-core/src/test/resources/siarddk/AVID.HEX.2000.1/Tables/table1/table1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.sa.dk/xmlns/siard/1.0/schema0/table1.xsd" targetNamespace="http://www.sa.dk/xmlns/siard/1.0/schema0/table1.xsd" elementFormDefault="qualified" attributeFormDefault="unqualified"><xs:element name="table"><xs:complexType><xs:sequence><xs:element minOccurs="0" maxOccurs="unbounded" name="row" type="rowType" /></xs:sequence></xs:complexType></xs:element><xs:complexType name="rowType"><xs:sequence><xs:element name="c1" type="xs:string" /><xs:element name="c2" type="xs:string" /><xs:element name="c3" type="xs:string" /><xs:element name="c4" type="xs:string" /><xs:element name="c5" type="xs:decimal" /><xs:element name="c6" type="xs:integer" nillable="true" /><xs:element name="c7" type="xs:integer" /><xs:element name="c8" type="xs:decimal" nillable="true" /><xs:element name="c9" type="xs:decimal" nillable="true" /><xs:element name="c10" type="xs:decimal" nillable="true" /><xs:element name="c11" type="xs:string" /><xs:element name="c12" type="xs:string" /><xs:element name="c13" type="xs:string" nillable="true" /><xs:element name="c14" type="xs:string" /><xs:element name="c15" type="xs:string" nillable="true" /></xs:sequence></xs:complexType></xs:schema>
